<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge'><![endif]--> {! fix for IE9 rendering in quirks mode !}
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <meta name='format-detection' content='telephone=no'>
    <title>{content.pageTitle}</title>
    <link rel='stylesheet' href='/css/styles.css'>
  </head>
  <body>
    <main>
      <header role='banner'>
        <h1>{content.appTitle}</h1>
      </header>
      {pageContent}
      <script type='text/javascript' src='/js/main.js'></script>
    </main>
  </body>
</html>