language: node_js
os:
  - windows
  - linux
  - osx
node_js:
  - "11"
  - "10"
before_script:
  - if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then choco install jdk8; export PATH=$PATH:"/c/Program Files/Java/jdk1.8.0_201/bin"; fi

script:
  - npm run lint
  - npm run coverage
  - codecov
