<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge'><![endif]--> {! fix for IE9 rendering in quirks mode !}
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <meta name='format-detection' content='telephone=no'>
    <title>503 Service Unavailable</title>
  </head>
  <body>
    <main>
      <header role='banner'>
        <h1>503 Service Unavailable</h1>
      </header>
      <p>The requested URL {url} is temporarily unavailable at this time.</p>
      <footer role='contentinfo'>
        <address>{mainDomain} {appVersion}</address>
      </footer>
    </main>
  </body>
</html>
