<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width,initial-scale=1'>
  <meta name='format-detection' content='telephone=no'>
  <title>${pageTitle}</title>
  <link href='/scripts/themes/prism.css' rel='stylesheet'>
  <link href='/scripts/plugins/line-numbers/prism-line-numbers.css' rel='stylesheet'>
</head>
<body>
  <main>
    <article>
      <style>
        h1 {
          color: #000;
        }

        body {
          margin-left: 15px;
        }

        .validatorErrors {
          color: #f00;
          white-space: pre-wrap;
        }

        .validatorWarnings {
          color: #ffa500;
          white-space: pre-wrap;
        }

      </style>
      <h1>${pageHeader}</h1>
      ${errors}
      ${warnings}
      ${markup}
    </article>
    <script src='/scripts/prism.js' data-manual></script>
    <script src='/scripts/components/prism-markup.js' data-manual></script>
    <script src='/scripts/plugins/line-numbers/prism-line-numbers.js' data-manual></script>
    <script>
      elems = document.getElementsByTagName("*")
      for (i = 0; i < elems.length; i++) {
          if (elems[i].className == "language-html") {
              Prism.highlightElement(elems[i])
          }
      }
  </script>
  </main>
</body>
</html>
